@import url("https://fonts.googleapis.com/css?family=Cardo|Roboto&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/cards.css");
@import url("components/card.css");


body {
	font-family: 'Cardo', serif;
	font-size: : 18px; 
	margin: 0px;

}
p {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
	font-family: 'Cardo', serif;
	font-weight: bold; 
	}